.img-forwards{
    animation-name: imgForwards;
    animation-fill-mode: forwards;
    animation-duration: .2s;
}

@keyframes imgForwards {
    0%{
        rotate: 0;
    }
    100%{
        rotate: -90deg;
    }
}

.img-backwards{
    animation-name: imgBackwards;
    animation-fill-mode: backwards;
    animation-duration: .2s;
}

@keyframes imgBackwards {
    0%{
        rotate: -90deg;
    }
    100%{
        rotate: 0;
    }
}

.profile-forwards{
    animation-name: profileForwards;
    animation-duration: .3s;
    animation-fill-mode: forwards;
}

@keyframes profileForwards {
    0%{
        width: 0rem;
        height: 0rem;
    }
    100%{
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
    }
}

.profile-backwards{
    animation-name: profileBackwards;
    animation-duration: .3s;
    animation-fill-mode: backwards;
}

@keyframes profileBackwards {
    0%{
        width: 100vw;
        height: 100vh;
    }
    100%{
        width: 0;
        height: 0;
    }
}

.right-side-forwards{
    animation-name: RSForwards;
    animation-duration: .4s;
    animation-fill-mode: forwards;
}

@keyframes RSForwards {
    0%{
        width: 0;
    }
 
    100%{
        width: var(--right-side-width);
    }
}

.input-forwards{
    animation-name: inputForwards;
    animation-duration: .3s;
    animation-fill-mode: forwards;
}

@keyframes inputForwards {
    0%{
        transform: translateY(10rem);
    }
  
    100%{
        transform: translateY(0);
    }
}

.themeDark{
    animation-name: darkTheme;
    animation-duration: .4s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes darkTheme {
    0%{
        background: rgb(55, 165, 243);
    }
    20%{
        background: linear-gradient(90deg,rgb(10, 10, 16), rgb(28, 36, 79));
    }
    100%{
        background: linear-gradient(90deg,rgb(10, 10, 16), rgb(28, 36, 79));
    }
}

.themeLight{
    animation-name: lightTheme;
    animation-duration: .4s;
    animation-fill-mode: backwards;
    animation-timing-function: linear;
}

@keyframes lightTheme {
    0%{
        background: linear-gradient(90deg,rgb(10, 10, 16), rgb(28, 36, 79));
    }
    20%{
        background: rgb(55, 165, 243);
    }
    100%{
        background: rgb(55, 165, 243);
    }
}

.op-backwards{
    animation-name: op-fw;
    animation-duration: .4s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes op-fw {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.op-forwards{
    animation-name: op-bw;
    animation-duration: .4s;
    animation-fill-mode: backwards;
    animation-timing-function: linear;
}

@keyframes op-bw {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.ls-forwards{
    animation-name: ls-fw;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    box-shadow: 0px;
}

@keyframes ls-fw {
    0%{
        left: 0rem;
    }
    100%{
        left: -5rem;
    }
}

.ls-backwards{
    animation-name: ls-bw;
    animation-duration: .3s;
    animation-fill-mode: backwards;
    box-shadow: 0px 4px 10px black;
}

@keyframes ls-bw {
    0%{
        left: -5rem;
    }
    100%{
        left: 0rem;
    }
}