@media screen and (max-width: 1560px) {
    .settings{
        width: 450px !important;
    }

    .friends-div{
        width: 350px !important;
    }
}

@media screen and (max-width: 1050px) {
    .exit{
        top: 1rem !important;
        right: 1rem !important;
    }
}

@media screen and (max-width: 850px) {
    .profile-settings-content{
        flex-direction: column !important;
        overflow-y: scroll !important;
        gap: 8rem !important;
    }

    .settings{
        margin-top: 4rem !important;
        min-height: 650px !important;
        width: 650px !important;
    }

    .friends-div{
        min-height: 850px !important;
        margin-bottom: 4rem !important;
        width: 650px !important;
    }
}

@media screen and (max-width: 715px) {
    .friends-div{
        width: 450px !important;
    }

    .settings{
        width: 450px !important;
    }
}

@media screen and (max-width: 510px) {
    .friends-div{
        width: 350px !important;
    }

    .settings{
        width: 350px !important;
    }
}

@media screen and (max-width: 1200px) {
    .introduction{
        padding: 1rem 8rem !important;
    }

    .container.content{
        height: calc(100vh - var(--top-section-height)) !important;
    }

    .introduction-parent{
        left: 0 !important;
        width: 100% !important;
    }
}

@media screen and (min-width: 1201px) {
    .top{
        display: none !important;
    }
}

@media screen and (max-width: 915px) {
    .introduction{
        padding: 1rem 4rem !important;
    }
}

@media screen and (max-height: 735px) {
    .introduction{
        padding: 1rem 2rem !important;
    }

    .introduction-img{
        width: 15rem;
        height: 15rem;
        object-fit: contain;
    }
}

@media screen and (max-height: 435px) {
    .introduction-img{
        display: none !important;
    }
}

@media screen and (max-width: 800px) {
    .introduction-parent{
        left: 0 !important;
        width: 100% !important;
    }
}

@media screen and (max-width: 715px) {
    .introduction{
        padding: 3rem 8rem !important;
    }

    .introduction-img{
        width: 15rem;
        height: 15rem;
        object-fit: contain;
    }
}

@media screen and (max-width: 615px) {
    .introduction{
        padding: 3rem 5rem !important;
    }
}

@media screen and (max-width: 435px) {
    .introduction{
        padding: 7rem 2rem !important;
    }
    
    .introduction-img{
        display: none !important;
    }
}

@media(max-width:600px){

    .wrapperLight ,.wrapperDark{
        background-image: none !important;
    }
    .wrapper{
        align-items: start !important;
    }
    .login{
        flex-direction: column !important;
        background:none !important;
        opacity: 1 !important;
    }
    .theme-selector{
        top: 8rem !important;
        left: -5rem !important;
    }
}
@media(max-width:400px){
    .wrapper{
        max-width: 200px !important;
        left: 2rem !important;
    }
}