@import url(/base/variables/variables.css);

:root{
    --login-box: rgb(29, 29, 29);
    --login-button: rgb(50, 62, 68);
    --text-color: rgb(177, 177, 177);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}
.main-content {
    filter: blur(8px);
    -webkit-filter: blur(8px);
}
/*  LOGIN  */
.login{
    background-color:var(--login-box);
    height: 400px;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.login .textContent{
display: flex;
flex-direction: column;
color: var(--text-color);
}
.login .textContent input{
    padding: 0.75rem;
}
.login .textContent h2{
    text-align: center;
}
.login .textContent h5{
    color: var(--text-color);
}
.login .button{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    
}
.login .button a{

    background: #4a6feb;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 400;
    letter-spacing: 0.1rem;
    font-weight:400;
    transition: 0.1s;
    border-radius: 5px;
    position: relative;
    width: 15rem;
    display: flex;
}
.login a:hover{
   background: #4a6feb;
    box-shadow: 0 0 35px var(--login-button);
    
}
.login a span{
    position: relative;
    z-index: 1;
    padding: 0.75rem;
    margin: 0 auto;

}